@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffff;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000000;
  }
}
.bg-custom {
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
